#gallery{
	display: flex;
	justify-content: space-around;
	margin-left: 5px;
	background-color: wheat;
	padding: 10px 0;
}

#gallery li{
	list-style-type: none;

}

#gallery li img{
	height: 200px;
	border: solid 2px black;
	border-radius: 5px
}

#validation-input.valid {
	outline: 3px solid #4caf50;
  }

  #validation-input.invalid {
	outline: 3px solid #f44336;
  }

  #boxes{
	  display: flex;
	  width: 100vw;
	  justify-content: flex-start;
	  flex-wrap: wrap;
  }

  #boxes div{
	  margin: 10px 20px;
  }